.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    background-color: #e9eff2;
    box-shadow: 0px 0px 13px 9px cadetblue;
    margin: 30px;
}
.grid>div {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,b7df2d+100&0+0,1+100 */
background: -moz-linear-gradient(-45deg,  rgba(248,255,232,0) 0%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(248,255,232,0) 0%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(248,255,232,0) 0%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.grid>div.player {
    /* background: green; */
    position: absolute;
    transition:all .25s linear;
}
.grid>div.player.left {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,c5d7e5+100&1+0,0+100 */
background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(197,215,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(197,215,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(197,215,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00c5d7e5',GradientType=1 ); /* IE6-9 */
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
    /* border-left: 1px solid red; */
}
.grid>div.player.right {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5d7e5+0,1e5799+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(197,215,229,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(197,215,229,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(197,215,229,0) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5d7e5', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
    /* border-right: 1px solid red; */
}
.grid>div.player.top {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,c5d7e5+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(197,215,229,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(197,215,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(197,215,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00c5d7e5',GradientType=0 ); /* IE6-9 */
border-top-right-radius: 10px;
border-top-left-radius: 10px;
    /* border-top: 1px solid red; */
}
.grid>div.player.bottom {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5d7e5+0,1e5799+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(197,215,229,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(197,215,229,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(197,215,229,0) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5d7e5', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
    /* border-bottom: 1px solid red; */
}
